<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <title>Emory</title>
  </head>
  <body>
    <header>
      <h1 class="emory__title">emory</h1>
    </header>
    <main>
      <section id="cardContainer"></section>
    </main>
    <footer>
      <p class="emory__copyright">
        &copy; María Infantes Lacal. All rights reserved 2022.
      </p>
    </footer>
    <script type="module" src="../../js/actions.js"></script>
    <script type="module" src="../../js/start.js"></script>
  </body>
</html>
