// @import "core/core";
// @import "mixins/mixins";
@import "./assets/variables/variables";

body {
  background: rgb(255, 0, 168);
  background: linear-gradient(
    168deg,
    rgba(255, 0, 168, 0.5329482134650736) 0%,
    rgba(136, 1, 70, 1) 100%
  );
}

.emory {
  &__title {
    font-family: $font-family-default;
    font-size: $font-size-xxl;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto;
  }

  &__logo {
    width: 100%;
    max-width: 20px;
  }

  &__cardlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 100px;
    background-color: $color-soft-black;
    border-radius: 10%;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
  }

  &__cardcontent {
    font-family: $font-family-default;
    text-align: center;
    color: $color-dark-pink;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }
}
