<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/scss/styles.css">
    <title>Emory</title>
  </head>
  <body>
    <header>
      <h1 class="emory__title">Emory</h1>
    </header>
    <main>
      <div class="emory__gameModeContainer">
        <h2 class="emory__subtitle">Elige el modo de juego:</h2>
        <a class="emory__gameModeButton" id="logo-banda" href="../game/game.html">
          Logos bandas
        </a>
        <a class="emory__gameModeButton" href="../game/game.html">
          Banda disco
        </a>
        <a class="emory__gameModeButton" href="../game/game.html">
          Banda canción
        </a>
        <a class="emory__gameModeButton" href="../game/game.html">
          Canción letra
        </a>
      </div>
    </main>
    <footer>
      <p>&copy;María Infantes Lacal. All rights reserved 2022.</p>
    </footer>
    <script src="../../js/start.js"></script>
  </body>
</html>
